<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HR managemnt</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style3.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  </head>
  <body>
    <% if (typeof successMessage !== 'undefined') { %>
    <div
      id="successMessage"
      class="alert alert-success mt-3 mx-auto"
      role="alert"
    >
      <div class="d-flex justify-content-center align-items-center">
        <%= successMessage %>
      </div>
    </div>
    <script>
      setTimeout(function () {
        var successMessage = document.getElementById("successMessage");
        if (successMessage) {
          successMessage.remove();
        }
      }, 5000);
    </script>
    <% } %> <% if (typeof failureMessage !== 'undefined') { %>
    <div
      id="failureMessage"
      class="alert alert-danger mt-3 mx-auto"
      role="alert"
    >
      <div class="d-flex justify-content-center align-items-center">
        <%= failureMessage %>
      </div>
    </div>
    <script>
      setTimeout(function () {
        var failureMessage = document.getElementById("failureMessage");
        if (failureMessage) {
          failureMessage.remove();
        }
      }, 5000);
    </script>
    <% } %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card mt-5">
            <div class="card-body">
              <h1 class="text-center mb-4"><b>Employee Project</b></h1>

              <form action="/add_employee2" method="post" id="employeeForm">
                <div class="form-group">
                  <label for="name"><b>Name:</b></label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="employeeName"
                    required
                    autocomplete="off"
                    placeholder="Enter Employee full name"
                  />
                </div>
                <div class="form-group">
                  <label for="email"><b>Email:</b></label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                    autocomplete="off"
                    placeholder="Enter Employee email"
                  />
                  <span id="emailError" class="error-message"></span>
                </div>
                <div class="form-group">
                  <label for="name"><b>Current Project Name:</b></label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="projectName"
                    required
                    autocomplete="off"
                    placeholder="Enter Employee Workspace"
                  />
                </div>

                <div class="form-group">
                  <label for="course"><b>Current project Domain:</b></label>
                  <input
                    type="text"
                    class="form-control"
                    id="course"
                    name="projectDomain"
                    required
                    autocomplete="off"
                    placeholder="Enter Employee Project Domain"
                  />
                </div>
                <div class="form-group">
                  <label for="gender"><b>Gender:</b></label>
                  <select class="form-control" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  SUBMIT
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <script>
      const form = document.getElementById("employeeForm");
      const emailInput = document.getElementById("email");
      const emailError = document.getElementById("emailError");

      form.addEventListener("submit", function (event) {
        if (!emailInput.checkValidity()) {
          event.preventDefault();
          emailError.textContent = "Please enter a valid email address.";
        } else {
          emailError.textContent = "";
        }
      });
    </script>
  </body>
</html>
