<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your app</title>
    <link rel="stylesheet" href="/stylesheets/stylebutton2.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />

  </head>
  <body>
    <div class="button-container">
      <form action="/employee_add_personal_details_button" method="post">
        <button type="submit" class="button">Add New Data</button>
      </form>
      <form action="/delete_personal_details_button" method="post">
        <button type="submit" class="button">Delete Data</button>
      </form>
      <form action="/personalList" method="get">
        <button type="submit" class="button">Show Data</button>
      </form>
    </div>
  </body>
</html>
