<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <!-- <link rel="stylesheet" href="/stylesheets/stylebutton.css"> -->
    <link rel="stylesheet" href="/stylesheets/stylebutton2.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />

</head>
<body>
    <div class="button-container">
        <form action="/employee_work_experience_button" method="post">
            <button type="submit" class="button">Add Work Experience</button>
        </form>
        <form action="/delete_work_experience_button" method="post">
            <button type="submit" class="button">Delete Data</button>
        </form>
        <form action="/workExperienceList" method="get">
            <button type="submit" class="button">Show Work Experience</button>
        </form>
    </div>
</body>
</html>
