<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <!-- <link rel="stylesheet" href="/stylesheets/stylebutton.css"> -->
    <link rel="stylesheet" href="/stylesheets/stylebutton2.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <style>
        /* CSS for the home button */
        .home-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <a href="/" class="home-button">Home</a>
    <div class="button-container">
        <form action="/employee_work_experience_button" method="post">
            <button type="submit" class="button">Add Work Experience</button>
        </form>
        <form action="/delete_work_experience_button" method="post">
            <button type="submit" class="button">Delete Data</button>
        </form>
        <form action="/workExperienceList" method="get">
            <button type="submit" class="button">Show Work Experience</button>
        </form>
    </div>
</body>
</html>
