<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Delete Work Experience</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />

    <link rel="stylesheet" href="/stylesheets/style3.css" />
  </head>
  <body>
    <div class="container-fluid" style="margin-top: 200px">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card mt-5">
            <div class="card-body">
              <h1 class="text-center mb-4"><b>Delete Work Experience</b></h1>

              <form
                action="/delete_employee2"
                method="post"
                id="deleteEmployeeForm"
              >
                <div class="form-group">
                  <label for="name"><b>Name:</b></label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="employeeNameW"
                    autocomplete="off"
                    required
                    placeholder="Enter Employee full name"
                  />
                </div>
                <div class="form-group">
                  <label for="email"><b>Email:</b></label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="emailW"
                    required
                    autocomplete="off"
                    placeholder="Enter Employee email"
                  />
                </div>
                <button type="submit" class="btn btn-danger btn-block">
                  Delete Employee
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <% if (typeof successMessage !== 'undefined') { %>
    <div id="successMessage" class="alert alert-success mt-3" role="alert">
      <%= successMessage %>
    </div>
    <script>
      setTimeout(function () {
        var successMessage = document.getElementById("successMessage");
        if (successMessage) {
          successMessage.remove();
        }
      }, 5000);
    </script>
    <% } %> <% if (typeof failureMessage !== 'undefined') { %>
    <div id="failureMessage" class="alert alert-danger mt-3" role="alert">
      <%= failureMessage %>
    </div>
    <script>
      setTimeout(function () {
        var failureMessage = document.getElementById("failureMessage");
        if (failureMessage) {
          failureMessage.remove();
        }
      }, 5000);
    </script>
    <% } %>
  </body>
</html>
