body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    background-color: #0F2C4B;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #FFFFFF;
    margin-bottom: 30px;
}

p {
    color: #FFFFFF;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    width: 200px; /* Fixed width for all buttons */
    border: none;
    border-radius: 5px;
    background-color: #FFA500; /* Dark Blue */
    color: #FFFFFF; /* White text for contrast */
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #007acc; /* Darker Blue */
}
